[submodule "pearai-app"]
	path = pearai-app
	url = https://github.com/trypear/pearai-app.git
[submodule "pearai-submodule"]
	path = pearai-submodule
	url = https://github.com/trypear/pearai-submodule.git
[submodule "pear-landing-page"]
	path = pear-landing-page
	url = https://github.com/trypear/pear-landing-page.git
[submodule "pearai-documentation"]
	path = pearai-documentation
	url = https://github.com/trypear/pearai-documentation.git
[submodule "pearai-server-issues-public"]
	path = pearai-server-issues-public
	url = https://github.com/trypear/pearai-server-issues-public.git
[submodule "pearai-server"]
	path = pearai-server
	url = https://github.com/trypear/pearai-server.git
[submodule "pearai-mcp"]
	path = pearai-mcp
	url = https://github.com/trypear/pearai-mcp
